.Container__paginationCards{
    display: flex;
    flex-flow: row nowrap;
}
.Card{
    display: flex;
    flex-flow: column;
    border:solid grey 2px;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    max-width: 100px;
    max-height: 200px;
    font-size: small;
    justify-content: space-between;
    text-align: center;
    box-shadow:1 0 10px 10px 10px grey;
}
.Card_active{
    display: flex;
    flex-flow: column;
    border:solid grey 1px;
    border-bottom: unset;
    box-shadow: 5px -5px 5px 0 rgb(197, 193, 193);
    justify-content: center;
    align-items: center;
    min-width: 100px;
    max-width: 100px;
    max-height: 200px;
    font-size: small;
    justify-content: space-between;
    text-align: center;
}
.Card__dayOf{
    color:red;
    font-weight: bold;
    font-size: 14px;
}
.Card__workingDay{
    color:black;
    font-weight: bold;
    font-size: 14px;
}
.Card__weatherImg{
    max-width: 60px;
    max-height: 60px;
}
.Card__tempr{
    display:flex;
    justify-content: space-around;
    min-width: 90px;
}
.Card__temprMin{
    display:flex;
    flex-flow: column nowrap;
    font-size: small;
}
.Card__temprMax{
    display:flex;
    flex-flow: column nowrap;
    font-size: small;
}
.WeatherDescription{
    display:flex;
    flex-direction: row;
    margin-top: 10px;
}
.WeatherDescription_Container{
    
}
.Description_titles{
 display:absolute;
 margin-top:70px;
 font-size: inherit;
}
.Description_titles p{
 margin-bottom: 4px;
 margin-top: 0;
}
.table_cell{
    text-align: center;
}
.WeatherDescription__Table{
    
}
.Container{
    border: solid grey 3px;
    border-top: hidden;
    max-width: 726px;
    min-height: 400px;

}
